.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
        &__items{
            display: flex;
            margin-right:auto;
        }
        &__item{
            list-style: none;
            padding-left: 40px;
            color: $color;
            font-size: 15px;
            font-weight: 700;
            &__a{
                text-decoration: none;
                color: $color; 
        }
        }
            
        &__item
            &__a:active{
                color: #172e41;
        }

        &__button{
            padding:15px 25px;
            background-color:#BA4270;
            border-radius: 30px;
            text-decoration: none;
            color:#FBFCFE;
            
        }
}